<h2>Detalles de Usuario</h2>

<dl class="dl-horizontal">

  <dt><strong>Nombre completo</strong></dt>
  <dd><%= @user.full_name %></dd>

  <dt><strong>Correo Electrónico</strong></dt>
  <dd><%= @user.email %></dd>

</dl>

<% if @user.stocks.size > 0 %>
  <%= render 'stocks/list' %>
<% else %>
  <p class="lead">Este usuario no está participando en ninguna cotización de valores</p>
<% end %>

<%= link_to "Volver", my_friends_path, class: 'btn btn-primary' %>