<p><%= t('.greeting', recipient: @resource.email, default: "Hola #{@resource.email}!") %></p>

<p><%= t('.message', default: 'Tu cuenta ha sido bloqueada debido a un exceso de intentos fallidos de inicio de sesión.') %></p>

<p><%= t('.instruction', default: 'Clica en el enlace de abajo para desbloquear tu cuenta:') %></p>

<p><%= link_to t('.action', default: 'Desbloquear mi cuenta'), unlock_url(@resource, unlock_token: @resource.unlock_token, locale: I18n.locale) %></p>
